@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    12490 Sunrise Valley Dr.<br />
    Reston, VA 20191<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wiat_development@sprint.com">wiat_development@sprint.com</a><br />
</address>